body { 
    background-image: url("john-jennings-fg7J6NnebBc-unsplash.jpg");
background-size: cover;
background-repeat: no-repeat;
}


h1 { text-align: center;
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center; 
        margin: 0;
        color:white;
}

p { text-align: center;
color:white;
font-size:20px;
}
